*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#93b7d8, #0d7b9c );
}

h1{
    color: #fff;
    font-size: 64px;
    font-style: italic;
}